html,
body {
  margin: 0;
}

html {
  background: #121214;
}

.gradient-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom right,
    #ed784833,
    #121214 33% 66%,
    #ed784833
  );
  z-index: -1;
}

a {
  text-decoration: none;
}

div[data-rk="widget-container"] {
  border-radius: 20px;
  padding: 1px;
  overflow: visible;
  position: relative;
  z-index: 1;
}

div[data-rk="widget-container"]:before {
  background-image: linear-gradient(
    160.93deg,
    #ed7848 4.91%,
    #303439 24.73%,
    #303439 66.87%,
    #ed7848 94.35%
  );
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  position: absolute;
  border-radius: 20px;
  content: "";
  z-index: -1;
  pointer-events: none;
}

div[data-rk="widget-container"]:after {
  background: rgba(33, 35, 39, 1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 20px;
  content: "";
  z-index: 0;
}

div[data-rk="widget-container"] > * {
  z-index: 1;
}
